<% unless comment.archived? %>
<div class="text-left bg-white/90 rounded-md shadow-md p-4 my-4 text-black">
  <p>
    <strong>
    <%= comment.commenter %>
    </strong>
  </p>

  <p>
    <%= comment.body %>
  </p>
  
  <% if user_signed_in? %>
    <p class="text-right text-sm">
      <%= link_to "Delete", [comment.article, comment], class: "text-red-500", data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
    </p>
  <% end %>
</div>
<% end %>