<div class="max-w-screen-md w-full mx-auto mt-10 text-white text-center">
  <h1 class="text-2xl font-bold">Edit Article</h1>
  <%= render "form", article: @article %>
  <p>
    <%= link_to "<< Back to Article", article_path(@article) %>
  </p>
</div>